<div class="cube-categories cube-sidebar" id="cube-categories">
    <div class="title">
        <a href="<%- url_for('/categories') %>"><%= __('categories') %></a>
    </div>
    <div class="cube-boxs">
        <% site.categories.forEach(function (category, index) { %>
        <% let rand = Math.floor(Math.random() * 4)
            let i = index % 4
        %>
        <div class="<% if (rand === i) { %><%= 'cube-box-bg' %> <% } else { %><%= 'cube-box' %> <% } %>">
            <a href="<%- url_for(category.path) %>">#<%= category.name %></a>
        </div>
        <% }) %>
    </div>
</div>