<style>
    @media(max-width: 768px) {
        body {
            background-color: #fff!important;
        }
    }
</style>
<div class="cube-archives">
    <% if (typeof page.archive === 'undefined' || !page.archive) { %>
    <div class="cube-archive" style="margin-top: 0;">
        <h1 class="title"><%= page.category ? page.category: page.tag %></h1>
        <% if (theme.preview) { %>
        <!-- TODO add template -->
        <% } else { %>
        <ul class="posts">
            <% page.posts.forEach(function (post) { %>
            <li class="post">
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </div>
    <% } else { %>
        <% if (site.posts.length > 0) {
            var lastYear = null
        %>
        <div class="cube-archive" style="margin-top: 0;">
            <% site.posts.sort('date', -1).forEach(function (post) {
                var year = post.date.toDate().getFullYear() %>
                <% if (theme.preview === true) { %>
                   <% if (lastYear !== +year) {
                        if (lastYear !== null) { %>
                                </ul>
                            </div>
                        <div class="cube-archive">
                        <% }
                            lastYear = year
                        %>
                            <h1 class="title"><%= lastYear %></h1>
                            <ul class="preview-posts">
                   <% } %>
                            <li class="preview-post">
                                <div class="preview">
                                    <% if (post.preview) { %>
                                    <% let isUrl = /https?:\/\//.test(post.preview) ? post.preview: url_for(`images/previews/${post.preview}`) %>
                                    <div style="background-image: url(<%= isUrl %>);"></div>
                                    <% } else { %>
                                    <% let isUrl = /https?:\/\//.test(theme.preview_default) ? theme.preview_default : url_for(`images/${theme.preview_default}`) %>
                                    <div style="background-image: url(<%= isUrl %>);"></div>
                                    <% } %>
                                </div>
                                <div class="info">
                                    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                                    <p><%= post.date.format('YYYY-MM-DD') %></p>
                                </div>
                            </li>
                <% } else { %>
                   <% if (lastYear !== +year) {
                        if (lastYear !== null) { %>
                                </ul>
                            </div>
                        <div class="cube-archive">
                        <% }
                            lastYear = year
                        %>
                            <h1 class="title"><%= lastYear %></h1>
                            <ul class="posts">
                   <% } %>
                            <li class="post">
                                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                            </li>
                <% } %>
            <% }) %>
                    </ul>
                        </div>
        <% } %>
    <% } %>
</div>